@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@100;400&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}
.heading {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.display {
  background-color: rgba(245, 237, 237, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 15px;
  word-break: break-word;
  border-radius: 8px;
}

#operand {
  display: flex;
  align-items: flex-start;
  font-size: 1.5rem;
  text-align: left;
  font-style: italic;
  padding-bottom: 10px;
}

#result {
  font-size: 2.5rem;
}

input {
  font-family: 'Orbitron', sans-serif;
  font-family: 'Roboto', sans-serif;
  width: 220px;
  height: 50px;
  text-align: end;
  font-size: 16px;
}

.calc {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: solid;
  border-radius: 10px;
  background-color: #000033;
  padding: 10px;
}

button {
  width: 45px;
  height: 40px;
  padding: 15px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #e6e6ff;
  border-radius: 8px;
  background-color: #19194d;
  color: #e6e6ff;
}

.buttons {
  padding: 15px;
}

.button-row {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.equal {
  width: 105px;
  background-color: orange;
}
